{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}
<div class="container">
    <div class="footer-part-brand">
        <div class="brand">
            <a href="https://www.wildcodeschool.com/fr-FR" target="_blank" class="footer_link"><img src="/assets/images/logo/logo_wild.png" class='icon-brand'></a>
        </div>
        <div class="brand">
            <a href="http://www.lapelliculeensorcelee.org/" target="_blank" class="footer_link"><img src="/assets/images/logo/logo-pellicule.png" class='icon-brand logo-pellicule-ensorcelee'></a>
        </div>
    </div>
    <div class="footer-part-linkedin">
        <a href="https://www.linkedin.com/in/axel-raboit/" target="_blank" class="footer_link"><img src="/assets/images/logo/logo-linkedin.png" class="ld-icon" alt="RABOIT Axel">RABOIT Axel</a>
        <a href="https://www.linkedin.com/in/steve-crepin-/" target="_blank" class="footer_link"><img src="/assets/images/logo/logo-linkedin.png" class="ld-icon" alt="CREPIN Steve">CREPIN Steve</a>
        <a href="https://www.linkedin.com/in/axel-croize/" target="_blank" class="footer_link"><img src="/assets/images/logo/logo-linkedin.png" class="ld-icon" alt="CROIZÉ Axel">CROIZÉ Axel</a>
        <a href="https://www.linkedin.com/in/charlie-gniadzik/" target="_blank" class="footer_link"><img src="/assets/images/logo/logo-linkedin.png" class="ld-icon" alt="GNIADZIK Charlie">GNIADZIK Charlie</a>
    </div>
</div>