{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/notFound.css">
{% endblock %}
<div class="container-not-found">
    <h2>Erreur: Page non trouvé</h2>
    <p>Aucun résultat correspondant à votre recherche.</p>
</div>
